.home {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .posts {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
  }
}
